venv/
__pycache__/
*.pyc
.env
data/raw/*
data/processed/*
data/vectorstore/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vectorstore/.gitkeep
slm/lora_adapters/
slm/merged_models/
*.gguf
.ipynb_checkpoints/
.pytest_cache/
